body{
background: black;
}
.oblast
{
   height: 100%;
  width: 100%;
  display: table;        
  position: absolute;
}

.center
{
  display: table-cell;
  vertical-align: middle; 
}

.razmer
{
  margin-left: auto;      
  margin-right: auto; 
  width: 408px;           
  height: 656px;
  border: solid 3px black;
}   

.new_line 
{
  clear:both;
}

.block 
{
  border: solid 1px black;
  height: 100px;
  width: 100px;
  float: left; 
  display: block;
  position: relative;
  text-align: center;
  line-height: 95px;
  background:#FFA500;  
  font-family: 'Times New Roman', Times, serif; 
  font-size: 180%;
}

input[type= button] 
{
  width: 100px; 
  height: 100px;      
  background:#FFA500;
  font-family: 'Times New Roman'Times, serif;
  font-size: 180%; 
  text-align: center;
  line-height: 95px; 
}


