html 
{ 
  overflow-x: hidden; 
  overflow-y: hidden;
}

.region
{
  height: 100%;
  width: 100%;
  display: table;        
  position: absolute;
}

{
  display: table-cell;
  vertical-align: middle; 
}
.size
{
  margin-left: auto;      
  margin-right: auto; 
  width: 820px;           
  height: 900px;
  border: solid 2px black;
}   

.new_line 
{
  clear:both;
}
.block 
{
  border: solid 1px black;
  height: 80px;
  width: 80px;
  float: left; 
  display: block;
  position: relative;
  background:#FFA500;  
  src="1.png;

